html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {
    line-height: 1;
    background-color: tan;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #03704A;
  height: 100px;
  margin: 0;

}

li {
  display: block;

  border-radius: 30px;
  font-style: italic;
  display: inline;
  margin: 10px;
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

ul {
  padding-top: 20px;
}

.Movies {
  display: flex;
  flex-wrap: wrap;


}

img {
  margin: 40px;
  min-width: 150px;
  max-height: 300px;
  flex: 1;

}




@media (max-width: 700px) {
  nav {
    display: none;
  }
  h1{
    width: 100%;
  }
  header {
    text-align: center;
  }

 }
